body {
    margin: 0;
    padding: 0;
    background-color: #fff;
	height: 100%;
}

div.container {
	width: 100%;
/*	border: 1px solid gray;*/
}

header {
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	box-sizing: border-box;
	position: fixed;
	width:100%;
}

footer {
    padding: 0.5em;
    color: #666;
    background-color: white;
    clear: left;
    text-align: center;
	box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
/*	position: absolute;
*/	position: relative;
    bottom: 0;
    /* 展開footer寬度 */
	width: 100%;
/*	background-color: transparent;  
*/	border-style: solid;  
    border-width: 1px 0px 0px 0px;  
    border-color: gray; 
	display: block;
}

nav {
    float: left;
/*	max-width: 480px;*/
	width: 380px;
/*	height: 350px;*/
    margin: 0;
/*	padding: 1em;
*/	padding-top: 50px;
	padding-left:10px;
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	min-height: 385px;
}

nav .ans {
	width: 50px;
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

nav .numSelect {
	width:50px;
	height:25px;
	font-size: 16px;
	font-family: 'josefin_sansregular', sans-serif;
}

article {
/*	float: left;
*/	margin-left: 0px;
	padding: 1em;
	overflow: hidden;
	padding-top: 50px;
/*	min-height: 385px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

article {
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
}

article .data { 
	height: 25px;
    width: 80px; 
	text-align:right;
    background-color: transparent;  
/*    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
*/	border: 0.5px solid #aaa;

	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	padding: 2px;
	margin-left: 0px;
	margin-right:0px;
	margin-top: 0px;
	margin-bottom: 0px;
 }
article .tableData { 
	height: 25px;
    width: 100%; 
    min-width: 85px; 
	text-align:right;
    background-color: transparent;  
	border: 0.5px solid transparent;

	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	padding: 2px;
	margin-left: 0px;
	margin-right:0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

article .row {
	height: 25px;
	width: 50px;
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	padding: 0px;
	display: inline-block;
	text-align: center;
/*	background-color:#ddd;
	border:1px solid #aaa;*/
}
article .col {
	height: 25px;
	width: 80px;
	font-family: 'josefin_sansregular', sans-serif;
    font-size: 16px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	margin-left: 0px;
	margin-right:0px;
/*	background-color:#ddd;
	border:1px solid #aaa;*/
}
article .abcSelect {
	width:80px;
	height:25px;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
}

article .2FactorsSelect {
/*	width:40px;
	height:25px;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
*/	
	text-align-last:right;
	width:40px;
	height:55px;
	margin-left: 0px;
	margin-right: 0px;
}

article .sum {
	width:80px;
	height:25px;
	padding:2px;
/*	font-size: 16px;*/
	margin-left: 0px;
	margin-right:0px;
	text-align:right;
	background-color:#e6ffff;
	border:1px solid #aaa;
}

article .mean {
	width:80px;
	height:25px;
	padding:2px;
/*	font-size: 16px;*/
	margin-left: 0px;
	margin-right:0px;
	text-align:right;
	background-color:#e6ffe6;
	border:1px solid #aaa;
}

#crd_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 100%;
}

#crd_table td {
    border: 1px solid #ddd;
    padding: 5px;
	text-align: right;
}

#crd_table th {
    border: 1px solid #ddd;
    padding: 5px;
	width: 20%;
}

#crd_table tr:nth-child(even){background-color: #f2f2f2;}

#crd_table tr:hover {background-color: #ddd;}

#crd_table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


#abc_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 100%;
}

#abc_table td {
    border: 1px solid #ddd;
    padding: 5px;
	text-align: right;
}

#abc_table th {
    border: 1px solid #ddd;
    padding: 5px;
	width: 16%;
}

#abc_table tr:nth-child(even){background-color: #f2f2f2;}

#abc_table tr:hover {background-color: #ddd;}

#abc_table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}



#data_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 100%;
}

#data_table td {
    border: 1px solid #ddd;
    padding: 2px;
	text-align: right;
}

#data_table th {
    border: 1px solid #ddd;
    padding: 5px;
	width: 20%;
}

#data_table tr:nth-child(even){background-color: #f2f2f2;}

#data_table tr:hover {background-color: #ddd;}

#data_table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}



#col-row_table {
	padding: 3px 5px 3px 5px;
	background-color: #eee;
	border: 1px solid #ccc;
	width: 100%;
}